#!/bin/bash

export OS_PROJECT_DOMAIN_NAME=default
export OS_USER_DOMAIN_NAME=default
export OS_PROJECT_NAME=admin
export OS_USERNAME={{ openstack_user_name }}
export OS_PASSWORD={{ openstack_user_password }}
export OS_AUTH_URL=http://keystone:{{ keystone_public_port }}/v3
export OS_IDENTITY_API_VERSION=3

openstack project create service
