[identity]
driver = ldap

[ldap]
url = {{ keystone.ldap.url }}
user = {{ keystone.ldap.user }}
password = {{ keystone.ldap.password }}
suffix = {{ keystone.ldap.suffix }}

use_tls = {{ keystone.ldap.tls.enabled }}
tls_req_cert = {{ keystone.ldap.tls.tls_req_cert }}
tls_cacertfile = /etc/keystone/ldap_tls_cacert.pem

user_tree_dn = {{ keystone.ldap.user_tree_dn }}
user_objectclass = {{ keystone.ldap.user_objectclass }}

group_tree_dn = {{ keystone.ldap.group_tree_dn }}
group_objectclass = {{ keystone.ldap.group_objectclass }}
