[DEFAULT]
debug = {{ keystone.debug }}
use_syslog = False
use_stderr = True
max_token_size = 255

[database]
connection = mysql+pymysql://{{ keystone.db.username }}:{{ keystone.db.password }}@{{ address(service.database) }}/{{ keystone.db.name }}
max_retries = -1
max_overflow = 60

[cache]
enabled = True
backend = oslo_cache.memcache_pool
memcache_servers = {{ address('memcached', memcached.port) }}
memcache_dead_retry = 60
memcache_socket_timeout = 1
memcache_pool_maxsize = 30

[token]
provider = fernet

[assignment]
driver = sql

{# messaging macros templates #}
{{ oslo_messaging[messaging.backend.notifications]('notifications_config') }}
