{% if security.tls.enabled %}
daemon off;

events {
}

http {
   upstream keystone_admin {
       server 127.0.0.1:{{ keystone.tls.admin_port }};
   }
   upstream keystone_public {
       server 127.0.0.1:{{ keystone.tls.public_port }};
   }


   server {
           listen {{ keystone.admin_port.cont }};
           ssl on;
           ssl_certificate /etc/nginx/ssl/certs/server-cert.pem;
           ssl_certificate_key /etc/nginx/ssl/private/server-key.pem;
           ssl_trusted_certificate /etc/nginx/ssl/certs/ca-cert.pem;

           location / {
                   proxy_pass http://keystone_admin;
                   proxy_set_header Host $host;
                   proxy_set_header X-Real-IP $remote_addr;
                   proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
                   proxy_set_header X-Forwarded-Proto $scheme;
           }
   }
   server {
           listen {{ keystone.public_port.cont }};
           ssl on;
           ssl_certificate /etc/nginx/ssl/certs/server-cert.pem;
           ssl_certificate_key /etc/nginx/ssl/private/server-key.pem;
           ssl_trusted_certificate /etc/nginx/ssl/certs/ca-cert.pem;

           location / {
                   proxy_pass http://keystone_public;
                   proxy_set_header Host $host;
                   proxy_set_header X-Real-IP $remote_addr;
                   proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
                   proxy_set_header X-Forwarded-Proto $scheme;
           }
   }

}
{% endif %}
