{% macro keystone_authtoken(username, password) -%}
[keystone_authtoken]
auth_uri = {{ address("keystone", keystone.public_port, with_scheme=True) }}
auth_url = {{ address("keystone", keystone.admin_port, with_scheme=True) }}
auth_type = password
project_domain_name = {{ service_account.domain }}
user_domain_name = {{ service_account.domain }}
project_name = {{ service_account.project }}
username = {{ username }}
password = {{ password }}
memcached_servers = {{ address("memcached", memcached.port) }}
{% if keystone.tls.enabled %}
cafile = /opt/ccp/etc/tls/ca.pem
{% endif %}
{%- endmacro %}

{% macro keystone_authtoken_murano(username, password) -%}
[keystone_authtoken]
auth_uri = {{ address("keystone", keystone.public_port, with_scheme=True) }}
auth_url = {{ address("keystone", keystone.admin_port, with_scheme=True) }}
auth_type = password
project_domain_name = {{ service_account.domain }}
user_domain_name = {{ service_account.domain }}
admin_tenant_name = {{ service_account.project }}
admin_user = {{ username }}
admin_password = {{ password }}
memcached_servers = {{ address("memcached", memcached.port) }}
{% if keystone.tls.enabled %}
cafile = /opt/ccp/etc/tls/ca.pem
{% endif %}
{%- endmacro %}
